.auth-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

label{
    margin-bottom: 10px;
    padding-bottom: 5px;
}