.section1-wrapper{
    width: 100%;
    height: 500px;
}
.section2-wrapper{
    width: 100%;
    height: 600px;
}
.section3-wrapper{
    width: 100%;
    height: 600px;
}
.imgs-wrapper{
    display: inline-grid;
    grid-template-columns: repeat(2, 150px);
    column-gap: 20px;
    row-gap: 20px;
    float: right;
    margin: 40px 100px;
    justify-content: center;
    align-items: center;
}
.homeimg{
    width: 150px;
    height: 150px;
    border: 2px solid white;
    opacity: 0.6;
    transition: .3s ease-in-out;
}
.homeimg:hover{
    opacity: 1;
    transform: scale(1.05);
}
.homeimg:active{
    transform: scale(.9);
}
.slideimg{
    width: 200px;
    height: 200px;
}
.left-side{
    float: left;
    clear: left;
    margin-top: 100px;
    margin-left: 15%;
    text-align: center;
}
span{
    color: purple;
}
.link-wrapper{
    padding: 15px;
}
.section2-wrapper > .center-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    text-align: center;
}
.section3-wrapper > .orderline-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 200px;
}